<div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-3" > <!-- ng-repeat con diferentes checkboxes que serviran luego para marcar las opciones de busqueda -->
  <label  ng-repeat="z in generos" class="col-md-3" class="checkbox" >
      <input type="checkbox" ng-model="z.checked" ng-change="genSelec()" >
    {{z.name}}
  </label>
</div>
</br>

<div class="row"> 
  <div class=" col-sm-2 col-sm-offset-5">
    <button type="button" class="btn btn-info" ng-click="buscarPorGenero();">Buscar Por Genero</button>
  </div>
</div>
</br>

<div class="row" ng-show="peliculasPorGenero.results"> <!-- Filtra por titulo, para una busqueda maś especifica y ordena por titulo, fecha de estreno y valoración  -->
  <div class="col-sm-3 col-sm-offset-3">
      <input type="text" class="form-control" placeholder="Filtra" ng-model="q.title" />
  </div>
  <div class="col-sm-4">
    <button class="btn btn-info" ng-click="sortBy('title')" >Titulo</button>
    <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
    <button class="btn btn-info" ng-click="sortBy('release_date')" >Fecha de Estreno</button>
    <span class="sortorder" ng-show="propertyName === 'release_date'" ng-class="{reverse: reverse}"></span>
    <button class="btn btn-info" ng-click="sortBy('vote_average')" >Valoración</button>
    <span class="sortorder" ng-show="propertyName === 'vote_average'" ng-class="{reverse: reverse}"></span>
  </div>
</div>
</br>

<div class="container">
  <div class="row">
    <div ng-repeat="x in peliculasPorGenero">
      <div ng-repeat="y in x | filter: q | orderBy:propertyName:reverse" ng-hide="!y.title">
        <div class="col-xs-12 col-sm-4">
          <div class="panel panel-info" ng-click="ampliarFicha();" ng-model="y.title">
                <div class="panel-heading">{{y.title}}</div>
                <div class="panel-body"><img ng-src="http://image.tmdb.org/t/p/w185{{y.poster_path}}" class="img-responsive imagen-poster" alt="Image"></div>
            </div>
          </div>  
      </div>
    </div>
  </div>  
</div>
